@font-face {
  font-family: "Netflix Sans Regular";
  src: url("../../../res/NetflixSans/NetflixSansRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Netflix Sans Regular";
  -webkit-font-smoothing: antialiased;
}
hr {
  height: 1px;
  outline: none;
  border: 0cm;
  background: #e5e5e5;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
p {
  font-size: 0.8rem;
  font-weight: 400;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer-box,
header {
  padding: 20px 50px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.netflix-logo {
  height: 2.7rem;
}
.netflix-logo:hover {
  cursor: pointer;
}
.sign-in {
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 40%;
  padding: 100px 0px;
  margin-left: 35%;
  margin-right: 10%;
  justify-content: center;
  text-align: left;
}
.close {
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-right: 0px;
  transition: linear 0.25s;
  overflow: hidden;
}
.devices {
  width: 50%;
  padding: 50px 0px;
}
.boxed,
.Next {
  margin-top: 20px;
  outline: none;
  border: 1px solid #8c8c8c;
  background: #fff;
  border-radius: 4pt;
  padding: 15px 0px;
  width: 65%;
  font-size: 1.5rem;
  font-weight: 400;
}
input {
  padding: 5px 0px;
  color: #000;
  background-color: white;
  outline: none;
  border: none;
  font-size: 1.2rem;
  width: 100%;

}
.boxed {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.boxed p {
  color: #8c8c8c;
}

.red {
  border: none;
  background: #e50914;
  color: #fff;
}
.Next:hover {
  cursor: pointer;
}
.boxed:hover {
  cursor: text;
}
footer {
  bottom: 0mm;
  width: 100%;
  background: #f3f3f3;
  padding-top: 0px;
  padding-bottom: 0px;
}
table {
  padding-top: 20px;
}
td {
  height: 2rem;
  width: 2%;
}

@media (max-width: 550px) {
  main {
    border: 0px;
  }
  .container {
    width: 100%;
    margin: 10px 0px 100px 10px;
    padding: 10px 0px 100px 10px;
    
  }
  * {
    font-size: small;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .netflix-logo {
    max-height: 2rem;
  }
}
@media (max-width: 780px) {
  .devices {
    width: 80%;
  }

  .container {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    width: 90%;
  }
  .boxed,
  .Next {
    width: 100%;
  }
}

@media (min-height: 800px) {
  footer {
    position: absolute;
  }
}

@media (min-width: 550px) and (max-width: 970px) {
  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 971px) {
  .container {
    width: 900px;
    margin-left: 35%;
  }
}

@media (max-width: 300px) {
  header {
    padding-left: 5px;
    padding-right: 5px;
  }
}