@font-face {
  font-family: "Netflix Sans Regular";
  src: url("../../res/NetflixSans/NetflixSansRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Netflix Sans Regular";
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  background: #141414;
  background-repeat: no-repeat;
}
.nav {
  color: #eee;
}
.selected {
  font-weight: 900;
  color: #fff;
  cursor: default;
}

.header-container {
  background: url("../../res/browse/main.jpg");
  box-shadow: inset 0 0 100px #000;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: fit-content;
}
.info,
.container h1 {
  padding-bottom: 2vh;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5vw;
  background: transparent;
  box-shadow: inset 0vw 1px 1px rgba(0, 0, 0, 0.5),
              inset 0vw 2vw 2vw rgba(0, 0, 0, 0.5),
              inset 0vw 3vw 3vw rgba(0, 0, 0, 0.5);
  
}
.scrolled {
  background: black;
  top:0;
  position: fixed;
  width: 100%;
  transition: top 0.25s;
}

.margin-external {
  padding-top: 1.5vw;
  padding-left: 3vw;
}

button {
  display: flex;
  flex-direction: row;
  background: white;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding: 0.5vw 2vw;
  color: black;
}
button:hover {
  cursor: pointer;
  filter: brightness(75%);
 
}

button * {
  color: black;
}
.netflix-logo {
  height: 2.5vw;
  padding-right: 5%;
  cursor: pointer;
}
.play-icon {
  height: 2vw;
  padding: 0px 0.5vw 0px 0px;
}

button h2 {
  font-size: 1.4vw;
  font-weight: 700;
}

.middle {
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.container {
  min-height: fit-content;
}

h1 {
  font-size: 2vw;
}
h2 {
  font-size: 1.5vw;
  font-weight: 500;
}
p {
  font-size: 1.2vw;
  font-weight: 500;
}

.header-nav h2 {
  padding: 0px 2%;
  font-size: 1vw;
}
.body-container {
  box-shadow:
    0vw -3vw 3vw 3vw rgba(20, 20, 20, 0.5),
    0vw -2vw 2vw 2vw rgba(20, 20, 20, 0.7),
    0vw -1vw 1vw 1vw rgba(20, 20, 20, 0.9);
}

.imgview {
  height: 10vw;
  padding-right: 1%;
  border-radius: 0.2vw 0.2vw 0.2vw 0.2vw;
}
.imgview:hover {
  zoom: 200%;
  cursor: pointer;
}
.img-containers {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  align-items: center;
}
.img-containers::-webkit-scrollbar {
  height: 0px;
  background: transparent;
}
.img-containers::-webkit-scrollbar-track {
  height: 0px;
}
.img-containers::-webkit-scrollbar-thumb {
  background: #333;
}
.img-containers::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.fight-club {
  background: url("../../res/browse/drama/large/fightclub.jpg");
  
}
.featured {
  box-shadow:
    0vw 0vw 3vw 3vw rgba(0, 0, 0, 0.5),
    0vw 0vw 2vw 2vw rgba(0, 0, 0, 0.7),
    0vw 0vw 1vw 1vw rgba(0, 20, 0, 0.9);
  width: 100%;
  background-size: contain;
  right: 0;
  background-repeat: no-repeat;
  min-height: 10px;
  padding-top: 5%;
  
}
.featured-imgview {
  height: 10rem;
}
.rtlformat {
  height: 22.5vw;
}

.player-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background: rgba(0,0,0,.5);
}

.player-video {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
video {
  object-fit: contain;
}
.closed {
  display: none;
  overflow: hidden;
  height: 0px;
  width: 0px;
}
.row1 {
  display: flex;
  flex-direction: row;
}
footer {
  padding-top: 5vw;
  padding-bottom: 7vw;
}
footer * {
  color: #808080;
}
a {
  text-decoration: none;
  font-size: 1vw;
}
a:hover {
  text-decoration: underline;
}

td {
  width: 25vw;
  height: 4vw;
}