@font-face {
  font-family: "Netflix Sans Regular";
  src: url("../../res/NetflixSans/NetflixSansRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Netflix Sans Regular";
  -webkit-font-smoothing: antialiased;
}
  hr {
    height: 1px;
    outline: none;
    border: 0cm;
    background: #E5E5E5;
  }
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
p {
  font-size: 0.8rem;
  font-weight: 400;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer-box,
header {
  padding: 20px 50px;
}
header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.netflix-logo {
  height: 2.7rem;
}
.netflix-logo:hover {
  cursor: pointer;
}
.sign-in {
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 40%;
  padding: 100px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.close{
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-right: 0px;
  transition: linear 0.25s;
  overflow:hidden;
}
.devices {
  width: 50%;
  padding: 50px 0px;
}
.Next {
  margin-top: 20px;
  outline: none;
  border: none;
  background: #e50914;
  border-radius: 4pt;
  padding: 15px 0px;
  width: 65%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.Next:hover {
  cursor: pointer;
}
footer {
  bottom:0mm;
  width: 100%;
  background: #F3F3F3;
  padding-top: 0px;
  padding-bottom:0px;
}
table {
  padding-top: 20px;
}
td {
  height: 2rem;
  width: 2%;
}

@media (max-width: 550px) {
  * {
    font-size: small;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .netflix-logo {
    max-height: 2rem;
  }
}
@media (max-width: 780px) {
  .devices {
    width: 80%;
  }
  body {
    text-align: left;
  }
  .container {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    width: 90%;
  }
  .Next {
    width: 100%;
  }
}

@media (min-height: 800px)  {
  footer {
    position: absolute;
  }
}
